div {
  width: 150px;
  height: 150px;
  color: rgb(22, 21, 21);
  font-weight: bold;
  margin: 10px;
  display: flex;
}
.transition {
  background: red;
  transition: all 2s linear;
}
.transition:hover {
  background: yellow;
  transform-box: translateX(100px);
}

.animation {
  background: blue;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 2;
}
@keyframes move {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(100px);
    background: red;
  }
  75% {
    transform: translateX(-200px);

    background: yellowgreen;
  }
  100% {
    transform: translateX(-200px);

    background: green;
  }
}

.one {
  background: linear-gradient(to bottom, pink, yellowgreen, rgb(161, 98, 98));
}
.two {
  background: linear-gradient(to top, pink, yellowgreen, rgb(219, 156, 156));
}
.three {
  background: linear-gradient(
    to right,
    rgb(190, 58, 80),
    yellowgreen,
    rgb(219, 156, 156)
  );
}
.four {
  background: linear-gradient(
    to top right,
    rgb(97, 21, 33),
    rgb(208, 243, 138) /* rgb(235, 125, 125) */
  );
}
.five {
  background: linear-gradient(
    315deg,
    rgb(255, 8, 45),
    rgb(208, 243, 138) /* rgb(235, 125, 125) */
  );
}
