div {
  width: 500px;
  height: 100px;
  color: white;
  margin: 10px;
}
.transition {
  background: red;
  transition: all 2s linear;
}
.transition:hover {
  background: yellow;
  transform-box: translateX(100px);
}

.animation {
  background: blue;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 2;
}
@keyframes move {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(100px);
    background: red;
  }
  75% {
    transform: translateX(-200px);

    background: yellowgreen;
  }
  100% {
    transform: translateX(-200px);

    background: green;
  }
}
